.hero {
  position: relative;
  height: 100vh;
  background: url("../../assets/images/home/plant.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 86, 77, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 0 1rem;
}

.content h1 {
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--color-primary);
  background: none;
}

.content h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-secondary);
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 35px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
